<div class="social-icons">
  <ul class="flex gap-3 [&_a]:transition-colors [&_a:hover]:text-primary-300">
    <li class="w-6 h-6">
      <a href="">{% render 'icon-facebook' %}</a>
    </li>
    <li class="w-6 h-6">
      <a href="">{% render 'icon-instagram' %}</a>
    </li>
    <li class="w-6 h-6">
      <a href="">{% render 'icon-x' %}</a>
    </li>
    <li class="w-6 h-6">
      <a href="">{% render 'icon-pinterest' %}</a>
    </li>
    <li class="w-6 h-6">
      <a href="">{% render 'icon-tiktok' %}</a>
    </li>
  </ul>
</div>