@layer components {

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .menu__side-drawer {

        [data-close] {
            @apply left-5 right-auto top-3 laptop:hidden;
        }

        [data-container] {
            @apply laptop:relative laptop:h-auto laptop:w-full laptop:p-0 laptop:transform-none laptop:border-b laptop:overflow-visible;
        }

        [data-overlay] {
            @apply laptop:hidden;
        }

        [data-content] {
            @apply pt-[40px] laptop:p-0;
        }
    }

    component-menu {
        
        > ul {
            @apply transition-opacity duration-300;
        }

        .submenu {
            @apply hidden;

            &.active {
                @apply flex;
            }
        }

        /* Loading animation */

        &.loading {

            > ul {
                @apply opacity-0 laptop:opacity-100;
            }
        }

        /* Level 1 animation */

        li[data-level="1"] > .item {
            @apply opacity-0;
        }

        &.active {
            
            li[data-level="1"] {

                > .item {
                    animation: fadeInUp 0.4s ease-out forwards;
                    animation-delay: 0.5s;
                }

                &:nth-child(1) {
                    > .item {
                        animation-delay: 0.1s;
                    }
                }

                &:nth-child(2) {
                    > .item {
                        animation-delay: 0.2s;
                    }
                }

                &:nth-child(2) {
                    > .item {
                        animation-delay: 0.3s;
                    }
                }

                &:nth-child(4) {
                    > .item {
                        animation-delay: 0.4s;
                    }
                }

                &:nth-child(5) {
                    > .item {
                        animation-delay: 0.5s;
                    }
                }

                &:nth-child(6) {
                    > .item {
                        animation-delay: 0.6s;
                    }
                }

                &:nth-child(7) {
                    > .item {
                        animation-delay: 0.7s;
                    }
                }

                &:nth-child(8) {
                    > .item {
                        animation-delay: 0.8s;
                    }
                }

                &:nth-child(9) {
                    > .item {
                        animation-delay: 0.9s;
                    }
                }
            }
        }

        /* Open submenu on hover item on desktop */

        li[data-level="1"] {

            > .submenu {
                @apply laptop:absolute laptop:top-full;
            }

            &:hover > .submenu {
                @apply laptop:block;
            }
        }
    }
}