<div class="collection-page container px-4 py-5">

	<div class="hidden laptop:block laptop:mb-5">
		{% render 'breadcrumbs' %}
	</div>

	<div class="pb-5 flex flex-col gap-2">

		<h1 class="text-2xl uppercase laptop:text-3xl">{{ collection.title }}</h1>

		{%- if collection.description != blank -%}
			<div class="laptop:w-1/2">{{ collection.description }}</div>
		{%- endif -%}

  	</div>

	<div class="flex flex-col gap-8">

		{% render 'filters', count: collection.products_count, search_page: false %}

		<div id="product_grid">

			{%- paginate collection.products by 24 -%}

				{% render 'product-grid', products: collection.products %}

				<div class="p-5">
					{% render 'pagination', paginate: paginate %}
				</div>

			{%- endpaginate -%}
			
		</div>

	</div>

</div>